
GLOBAL=${0:a:h}/.aliases
LOCAL=${0:a:h}/.aliases-local

function _alias() {

    ALIAS_NAME=`echo "$1" | grep -o ".*="`
    ALIAS_FILE=$2
    touch $ALIAS_FILE
    # Deleting dublicate aliases
    OS=$(uname)
    if [ "$OS"="Darwin" ]; then
      sed -i "" "/alias $ALIAS_NAME/d" $ALIAS_FILE
    else
      sed -i "/alias $ALIAS_NAME/d" $ALIAS_FILE
    fi

    # Quoting command: my-alias=command -> my-alias="command"
    QUOTED=`echo "$1"\" | sed "s/$ALIAS_NAME/$ALIAS_NAME\"/g"`
    echo "alias $QUOTED" >> $ALIAS_FILE

    # Loading aliases
    source $ALIAS_FILE
}

function lalias(){
    _alias $1 $LOCAL
}

function galias(){
    _alias $1 $GLOBAL
}
